<!--HOME PAGE-->

<div class="container bar">
    <label class="floatLeft" for="navBtn"><span></span></label>
    <div class="container">
        <input type="checkbox" class="navBtn" id="navBtn" />
        <nav>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-heart"></i>First Link</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-medkit"></i>Second Link</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-heartbeat"></i>Third Link</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-ambulance"></i>Forth Link</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container">


        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="./assets/images/banner-1.jpg" alt="Los Angeles" style="width:100%;">
                </div>
                <!-- 
            <div class="item">
                <img src="./assets/images/banner-2.jpg" alt="Chicago" style="width:100%;">
            </div>

            <div class="item">
                <img src="./assets/images/banner-3.jpg" alt="New york" style="width:100%;">
            </div> -->
            </div>
            <!-- Left and right controls 
        <a class="left carousel-control" href="#" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> -->
            <!--CARDS-->
            <h4 style="border-bottom: 5px double rgb(255, 185, 208);">New Arrivals</h4>
            <div class="flex-container">

                <div>
                    <img src="./assets/images/sweatshirt2.jpg" style="width: 100px; height: 100px;
      text-align: center;">
                </div>
                <div>
                    <img src="./assets/images/earcuff.jpg" style="width: 100px; height: 100px;
      text-align: center;">
                </div>
                <div>
                    <img src="./assets/images/coat.jpg" style="width: 100px; height: 100px;
      text-align: center;">
                </div>
                <div>
                    <img src="./assets/images/vest.jpg" style="width: 100px; height: 100px;
      text-align: center;">
                </div>
                <div>
                    <img src="./assets/images/skirt.jpg" style="width: 100px; height: 100px;
      text-align: center;">
                </div>
                <div>
                    <img src="./assets/images/Crop-Tops.jpg" style="width: 100px; height: 100px;
      text-align: center;">
                </div>
                <div>
                    <img src="./assets/images/boot.jpg" style="width: 100px; height: 100px;
      text-align: center;">
                </div>
                <div>
                    <img src="./assets/images/jwellery.jpg" style="width: 100px; height: 100px;
      text-align: center;">
                </div>
            </div>
            <br>
            <!--CATEGORY-->
            <!--prepare a json file-->
            <h4 style="border-bottom: 5px double rgb(255, 185, 208);">Catergory</h4>
            <div class="row row-2">
                <div class="column col-2">
                    <div class="card">
                        <img src="./assets/images/westernwear.jpg" alt="Avatar" style="width:100%">
                        <div class="container cont-2">
                            <h6>Western</h6>
                        </div>
                    </div>

                </div>
                <div class="column col-2">
                    <div class="card">
                        <img src="./assets/images/ethinc.jpg" alt="Avatar" style="width:100%">
                        <div class="container cont-2">
                            <h6>Ethnic</h6>
                        </div>
                    </div>

                </div>
                <div class="column col-2">
                    <div class="card">
                        <img src="./assets/images/western.jpg" alt="Avatar" style="width:100%">
                        <div class="container cont-2">
                            <h6>Casual</h6>
                        </div>
                    </div>
                </div>
                <div class="column col-2">
                    <div class="card">
                        <img src="./assets/images/semi-formal-dresses-for-women.jpg" alt="Avatar" style="width:100%">
                        <div class="container cont-2">
                            <h6>Formal</h6>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!--DEAL OF DAY-->
            <div style=" border: 2px solid #d1f0da; border-radius: 10px;">
                <h4 style="margin-left: 500px;">Deal of the Day</h4>
                <img src="./assets/images/dove.png" style="width: 670px; justify-content: center; margin-left: 220px;">
                <h3 style="margin-left: 85px;
    border-bottom: 2px double  #a4ffdc;
    ">CUCUMBER AND GREEN TEA SCENT HANDWASH, SHOWER GEL & ROLL ON</h3>

                <p class="price" style="margin-left: 8px;">$150.00</p>
                <del style="margin-left: 8px;">$200.00</del>
                <br>
                <button style="margin-left: 8px;" type="button" onclick="alert('Item added to cart')"
                    class="add-cart-btn">add
                    to cart</button>
                <h5 style="margin-left: 8px;
  border: 2px solid black;
  border-radius: 20px 20px 20px 20px;
  outline: #a4ffdc solid 5px;
  margin-left:15px;  
  padding: 5px;
  width: 20%;
  text-align: center;

  ">Already Sold : 20
                    <br>Available : 40
                </h5>
            </div>
            <br>

            <h3 style="background-color: rgb(255, 94, 94);">HURRY UP! OFFER ENDS IN :</h3>
            <!--CONTENT-COUNTDOWN-->
            <div class="countdown-content">

                <div>360 <br> Days</div>
                <div>24 <br> Hours</div>
                <div>59 <br> Min</div>
                <div>00 <br> Sec</div>

            </div>
            <br>
            <!--ITEMS-->
            <h4 style="border-bottom: 5px double rgb(255, 185, 208);">Trending now</h4>
            <div class="grid-container">
                <div class="grid-item">
                    <img src="./assets/images/dove exfl.png" style="width: 100px; height: 100px;">
                    <p class="price" style=" font-size: 15px;">$150.00</p>
                    <del style="margin-left: 8px; font-size: 15px;">$200.00</del>
                    <button class="A2Cbutton">
                        <span>Add to cart</span>
                        <div class="cart">
                            <svg viewBox="0 0 36 26">
                                <polyline
                                    points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"
                                ></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                </div>
                <div class="grid-item">
                    <img src="./assets/images/High-Heels-Shoes.png" style="width: 100px; height: 100px;">
                    <p class="price" style=" font-size: 15px;">$285.00</p>
                    <del style="margin-left: 8px; font-size: 15px;">$300.00</del>
                    <button class="A2Cbutton">
                        <span>Add to cart</span>
                        <div class="cart">
                            <svg viewBox="0 0 36 26">
                                <polyline
                                    points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"
                                ></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                </div>
                <div class="grid-item">
                    <img src="./assets/images/goldearring.png" style="width: 100px; height: 100px;">
                    <p class="price" style=" font-size: 15px;">$78.00</p>
                    <del style="margin-left: 8px; font-size: 15px;">$100.00</del>
                    <button class="A2Cbutton">
                        <span>Add to cart</span>
                        <div class="cart">
                            <svg viewBox="0 0 36 26">
                                <polyline
                                    points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"
                                ></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                </div>
                <div class="grid-item">
                    <img src="./assets/images/trouser.png" style="width: 100px; height: 100px;">
                    <p class="price" style=" font-size: 15px;">$125.00</p>
                    <del style="margin-left: 8px; font-size: 15px;">$175.00</del>
                    <button class="A2Cbutton">
                        <span>Add to cart</span>
                        <div class="cart">
                            <svg viewBox="0 0 36 26">
                                <polyline
                                    points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"
                                ></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                </div>
                <div class="grid-item">
                    <img src="./assets/images/bag.png" style="width: 100px; height: 100px;">
                    <p class="price" style=" font-size: 15px;">$200.00</p>
                    <del style="margin-left: 8px; font-size: 15px;">$255.00</del>
                    <button class="A2Cbutton">
                        <span>Add to cart</span>
                        <div class="cart">
                            <svg viewBox="0 0 36 26">
                                <polyline
                                    points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"
                                ></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                </div>
                <div class="grid-item">
                    <img src="./assets/images/leatherjacket.png" style="width: 100px; height: 100px;">
                    <p class="price" style=" font-size: 15px;">$190.00</p>
                    <del style="margin-left: 8px; font-size: 15px;">$200.00</del>
                    <button class="A2Cbutton">
                        <span>Add to cart</span>
                        <div class="cart">
                            <svg viewBox="0 0 36 26">
                                <polyline
                                    points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"
                                ></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                </div>
                <div class="grid-item">
                    <img src="./assets/images/71U7N2B2bbSL.png" style="width: 100px; height: 100px;">
                    <p class="price" style=" font-size: 15px;">$170.00</p>
                    <del style="margin-left: 8px; font-size: 15px;">$1950.00</del>
                    <button class="A2Cbutton">
                        <span>Add to cart</span>
                        <div class="cart">
                            <svg viewBox="0 0 36 26">
                                <polyline
                                    points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"
                                ></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                </div>
                <div class="grid-item">
                    <img src="./assets/images/bjkk.png" style="width: 100px; height: 100px;">
                    <p class="price" style=" font-size: 15px;">$158.00</p>
                    <del style="margin-left: 8px; font-size: 15px;">$210.00</del>
                    <button class="A2Cbutton">
                        <span>Add to cart</span>
                        <div class="cart">
                            <svg viewBox="0 0 36 26">
                                <polyline
                                    points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"
                                ></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                </div>
                <div class="grid-item">
                    <img src="./assets/images/jhh.png" style="width: 100px; height: 100px;">
                    <p class="price" style=" font-size: 15px;">$196.00</p>
                    <del style="margin-left: 8px; font-size: 15px;">$235.00</del>
                    <button class="A2Cbutton">
                        <span>Add to cart</span>
                        <div class="cart">
                            <svg viewBox="0 0 36 26">
                                <polyline
                                    points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"
                                ></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
            <br>
            <br>
            <!--TESTIMONIAL-->
            <div class="container container-test">
                <div class="row-3">
                    <div class="col-sm col-3">
                        <img src="./assets/images/New Note.jpeg"
                            style="width: 330px; height: 400px; margin-left: 40px;">
                    </div>
                    <div class="col-sm col-3">
                        <img src="./assets/images/25 DISCOUNT.jpeg"
                            style="width: 330px; height: 400px; margin-left: 40px;">
                    </div>
                    <div class="col-sm col-3">
                        <img src="./assets/images/New Note 2.jpeg"
                            style="width: 330px; height: 400px; margin-left: 40px;">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <!--GALLERY-->
            <div class="row row-4 " style="margin-left: 90px;">

                <div class="col col-4">
                    <img src="./assets/images/blog-1 (1).jpeg" alt="1" style="width: 200px; height: 150px;">

                    <div class="desc">
                        <h6 style="-webkit-text-fill-color: pink;">Fashion</h6>
                        <h4>Clothes Retail KPIs 2023 Guide for<br>Clothes Executives</h4>
                    </div>
                </div>



                <div class="col col-4">
                    <img src="./assets/images/blog-3 (1).jpeg" alt="2" style="width: 200px; height: 150px;">

                    <div class="desc">
                        <h6 style="-webkit-text-fill-color: pink;">Clothes</h6>
                        <h4>Curbside fashion Trends" How to Win<br>the Pickup Battle.</h4>
                    </div>
                </div>


                <div class="col col-4">
                    <img src="./assets/images/blog-4 (1).jpeg" alt="3" style="width: 200px; height: 150px;">

                    <div class="desc">
                        <h6 style="-webkit-text-fill-color: pink;">Shoes</h6>
                        <h4>EBT vendors: Claim Your Share of SNAP<br>Online Revenue</h4>
                    </div>
                </div>


                <div class="col col-4">

                    <img src="./assets/images/blog-3 (1).jpeg" alt="4" style="width: 200px; height: 150px;">

                    <div class="desc">
                        <h6 style="-webkit-text-fill-color: pink;">Electronics</h6>
                        <h4>Curbside fashion Trends" How to Win<br>the Pickup Battle.</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <p id="demo"></p>

<script>
document.querySelectorAll(".A2Cbutton").forEach((A2Cbutton) =>
    button.addEventListener("click", (e) => {
        if (!A2Cbutton.classList.contains("loading")) {
            A2Cbutton.classList.add("loading");
            setTimeout(() => A2Cbutton.classList.remove("loading"), 3700);
        }
        e.preventDefault();
    })
);

</script> 